## <center>Case Study on Measures of Central Tendency and Dispersion

###  Reading the dataset to python environment

In [101]:
import pandas as pd
Pf= pd.read_csv('StudentsPerformance.csv')

In [102]:
# using sp.info() to get an overall view about data set
Pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### 1) Find out how many males and females participated in the test

In [103]:
Pf['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

### 2) What do you think about the students' parental level of education?

In [104]:
counts=Pf['parental level of education'].value_counts()
percent=Pf['parental level of education'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
S1=pd.DataFrame({'No of Parents':counts,'%':percent})
S1.index.name='Level of education'
S1.reset_index().style.hide_index()

### 3 (a) Who scores the most on average for math, reading and writing based on Gender

In [105]:
s2=round(Pf.groupby('gender')[['math score','reading score','writing score']].mean(),2)
s2

        math score  reading score  writing score
gender
female       63.38          72.59          72.47
male         68.82          65.55          63.45

In [106]:
# displaying who scores most on average for math, reading and writing based on Gender
print(s2.idxmax())

math score         male
reading score    female
writing score    female
dtype: object

Males scores  the most on  average for Maths,whereas females scores the most on average for reading and writing

### 3 (b) Who scores the most on average for math, reading and writing based on Test preparation course?

In [107]:
s3=round(Pf.groupby('test preparation course')[['math score','reading score','writing score']].mean(),2)
s3

                         math score  reading score  writing score
test preparation course
completed                     69.97          74.18          74.68
none                          63.79          66.42          64.46

In [108]:
# displaying who scores most on average for math, reading and writing based on test preparation course(Completed or None)
print(s3.idxmax())

math score       completed
reading score    completed
writing score    completed
dtype: object

Those who completed test preparation course scores the most on average for math, reading and writing

### 4 (a) What do you think about the scoring variation for math, reading and writing based on Gender?

In [109]:
s4=round(Pf.groupby('gender')[['math score','reading score','writing score']].std(),2)
s4.set_axis(['Math score- σ','Reading score-σ','Writing score-σ'],axis=1)

        Math score- σ  Reading score-σ  Writing score-σ
gender
female          16.03            14.41            14.84
male            14.56            14.15            14.23

Males are scoring consistenly(less standard deviation)than females w.r.t Maths,reading and writing score.

### 4 (b) What do you think about the scoring variation for math, reading and writing based on Test preparation course?

In [110]:
s5=round(Pf.groupby('test preparation course')[['math score','reading score','writing score']].std(),2)
s5.set_axis(['Math score- σ','Reading score-σ','Writing score-σ'],axis=1)

                         Math score- σ  Reading score-σ  Writing score-σ
test preparation course
completed                        14.52            13.54            13.24
none                             15.71            14.61            15.04

Those who completed test preparation course shows consistency(less standrd deviation)in Math,reading and writing score

### 5)The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [115]:
# sorting the data frame in descending order based on math score and displaying the top 25 % of rows using head()
s6=Pf.sort_values(by=['math score'],ascending=False)
s6.head(int(len(s6)*(25/100)))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
996,male,group A,some college,standard,completed,100,96,86
515,female,group E,some college,standard,none,100,92,97
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
856,male,group E,some high school,standard,completed,77,76,77
855,male,group E,associate's degree,free/reduced,completed,77,69,68
854,male,group D,some high school,standard,completed,77,68,69
853,male,group D,associate's degree,free/reduced,none,77,78,73
852,male,group D,some college,free/reduced,none,77,62,64

In [116]:
# using quantile function- Here data is divided into 4 quartiles based on Maths score
Pf['math score'].quantile(0.75)

77.0

In [120]:
Pf[Pf['math score']>Pf['math score'].quantile(0.75)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
430,female,group A,some college,standard,completed,78,87,91
431,female,group B,bachelor's degree,free/reduced,none,78,79,76
432,female,group D,bachelor's degree,standard,none,78,82,79
433,female,group D,high school,standard,none,78,81,80
434,female,group D,bachelor's degree,free/reduced,none,78,90,93
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100